---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

code, pre {
    font-family: 'Courier New', Courier, monospace !important;
    font-style: normal !important;
  } // 코드 전용 폰트